<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
<h:head>

</h:head>

<h:body>

    <h:form>
        <h:panelGrid columns="3">
            <h:outputText value="ID:"/>
            <h:inputText id="id" value="#{bean.id}"/>
            <h:message for="id" style="color: red;"/>
            <h:outputText value="Name:"/>
            <h:inputText id="name" value="#{bean.name}"/>
            <h:message for="name" style="color: red;"/>
        </h:panelGrid>
        <h:commandButton value="Save" actionListener="#{beanManager.save}"/>
    </h:form>


</h:body>
</html>